/* sistema simples de grid para estruturar o layout */
.grid-row{
	&:after{
		content: '';
		display: block;
		clear: both;
	}

	.col-2{
		width: 16.666666%;
	}

	.col-4{
		width: 33.333333%;
	}

	.col-6{
		width: 50%;
	}

	.col-10{
		width: 83.333333%;
	}

	.col{
		float: left;
		padding: 0 15px;
		min-height: 1px;

		@media all and (max-width: 768px){
			width: 100%;
		}
	}
}